
$color-primary: #4f46e5; // фиолетовый для фокуса и кнопок
$color-border: #ebebeb;      // серый для границ
$color-bg: #f9f9f9;       // фон страницы
$color-text: #333;        // основной текст
$color-button: #4f46e5; 
$color-button-hover:#4338ca;  // цвет кнопки
$color-button-hover: #3730a3; 
$color-filter:#f8f8f8;